<configuration>
	<dllmap dll="RobotRaconteurNETNative" target="RobotRaconteurNETNative-linux32" os="linux" cpu="x86"/>
	<dllmap dll="RobotRaconteurNETNative" target="RobotRaconteurNETNative-linux64" os="linux" cpu="x86-64"/>
	<dllmap dll="RobotRaconteurNETNative" target="RobotRaconteurNETNative-darwin" os="osx"/>
	<dllmap dll="RobotRaconteurNETNative" target="RobotRaconteurNETNative-linux-armhf" os="linux" cpu="arm"/>	
</configuration>
