name: ROS CI

on:
  push:
    branches:
    - ros-**
    - ros2-**
    - ros
  pull_request:
    branches:
    - ros-**
    - ros2-**
    - ros

  workflow_dispatch:

jobs:

  build-ros:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO:
        - noetic
        - humble
        - jazzy
        - kilted
        - rolling
    steps:
    - uses: actions/checkout@v5
      with:
        path: src/robotraconteur
    - name: ros industrial-ci
      uses: ros-industrial/industrial_ci@master
      env:
        ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
        ROS_REPO: main
        CMAKE_ARGS: -DPYTHON3_EXECUTABLE=/usr/bin/python3

  build-ros-prerelease:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO:
        - humble
        - jazzy
        - kilted
        - rolling
    steps:
    - uses: actions/checkout@v5
      with:
        path: src/robotraconteur
    - name: ros industrial-ci
      uses: ros-industrial/industrial_ci@master
      env:
        ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
        ROS_REPO: main
        PRERELEASE: true
        CMAKE_ARGS: -DPYTHON3_EXECUTABLE=/usr/bin/python3
        ROSDEP_SKIP_KEYS: python3-setuptools
